body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

body {
    background-color: rgb(131, 130, 129);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


html {
    scroll-behavior: smooth;
}

header {
    background-color: rgb(29, 27, 26);
    font-size: 18px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #fff;
    text-align: center;
    text-shadow: 4px 4px 6px black;
}

header, footer {
    padding: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

header:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header {
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: rgb(29, 27, 26);
    color: #fff;
    font-size: 18px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    text-shadow: 4px 4px 6px black;
    margin-top: auto;
}

.collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.console {
    background-color: rgb(131, 130, 129);
    color: #fff;
    font-size: 18px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 20px;
    height: 100%;
}

.console h2 {
    margin-top: 0;
    display: flex;
    justify-content: center;
    text-shadow: #1e1e1e 4px 4px 6px;
}

.console p {
    display: flex;
    justify-content: left;
    padding-left: 30%;
}

.console p strong {
    color: rgb(0, 0, 0);
    margin-right: 10px;
}

.console img {
    display: block;
    margin: 20px auto;
    max-width: 45%;
    height: auto;
}

.metadata {
    font-size: 20px;
    width: fit-content;
    margin: 0 auto;
    background-color: rgb(68, 68, 68);
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.metadata div {
    margin-bottom: 10px;
}

.generation {
    background-color: rgb(131, 130, 129);
    display: flex;
    color: #fff;
    justify-content: center;
    font-size: 22px;
    padding-top: 20px;
    text-shadow: #1e1e1e 4px 4px 6px;
}

.body {
    background-color: rgb(131, 130, 129);
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #fff;
    text-shadow: #1e1e1e 4px 4px 6px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    text-decoration: none;
    color: white;
    background: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    transition: 0.2s;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.card span {
    display: block;
    margin-top: 10px;
    font-size: 18px;
}

@media (max-width: 900px) {

    header {
        font-size: 16px;
        padding: 15px;
    }

    .generation {
        font-size: 18px;
        text-align: center;
        padding: 10px;
    }

    .console h2 {
        font-size: 18px;
    }

    .metadata {
        width: 100%;        
        max-width: 100%;      
        padding: 15px;        
        box-sizing: border-box; 
        margin: 0;            
    }
    .card img {
        height: 180px;
    }
}

@media (max-width: 480px) {

    .card img {
        height: 140px;
    }

    .metadata {
        font-size: 18px;
    }
}